# Problem Statement
The purpose is to predict whether the Pima Indian women shows signs of diabetes or not. We are using a dataset collected by 
"National Institute of Diabetes and Digestive and Kidney Diseases" which consists of a number of attributes which would help us 
to perform this prediction.

Constraints on data collection
All patients whose data has been collected are females at least 21 years old of Pima Indian heritage

# Dataset:
https://www.kaggle.com/kumargh/pimaindiansdiabetescsv

# 1. Import Libraries and load dataset

In [1]:
#Import all the necessary modules
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import random
import matplotlib.pyplot as plt
import numpy as np

num_bins = 10

In [2]:
colnames = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pima_df = pd.read_csv('pima-indians-diabetes.csv')

It is always a good practice to eye-ball raw data to get a feel of the data in terms of number of structure of the file, number 
of attributes, types of attributes and a general idea of likely challenges in the dataset. You would notice that it is a comma 
separated file. There are no column names!. Check the associated folders and find out about each attribute the name. What 
information is available about the data.

# 2. Print 10 samples from the dataset

In [3]:
pima_df.head(10)
#0s signify a lot of missing values

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

# 3. Print the datatypes of each column and the shape of the dataset

In [4]:
pima_df.shape

(768, 9)

In [5]:
pima_df.dtypes

Preg       int64
Plas       int64
Pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

There are '0's in the data. Are they really valid '0's or they are missing values? Plasma, BP, skin thickness etc. these values 
cannot be 0. look at column by column logically to understand this.

# 4. Replace all the 0s in the column with the median of the same column value accordingly.

In [6]:
median = pima_df['Plas'][pima_df['Plas']> 0].median()
pima_df.loc[pima_df.Plas == 0, 'Plas'] = median

median = pima_df['Pres'][pima_df['Pres']> 0].median()
pima_df.loc[pima_df.Pres == 0, 'Pres'] = median

median = pima_df['skin'][pima_df['skin']> 0].median()
pima_df.loc[pima_df.skin == 0, 'skin'] = median

median = pima_df[pima_df['test']> 0]['test'].median()
pima_df.loc[pima_df.test == 0, 'test'] = median
print(median)

median = pima_df['mass'][pima_df['mass']> 0].median()
pima_df.loc[pima_df.mass == 0, 'mass'] = median

125.0

# 5. Print the descriptive statistics of each & every column using describe() function

In [7]:
pima_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Preg,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Plas,768.0,121.656250,30.438286,44.000,99.75000,117.0000,140.25000,199.00
Pres,768.0,72.386719,12.096642,24.000,64.00000,72.0000,80.00000,122.00
skin,768.0,29.108073,8.791221,7.000,25.00000,29.0000,32.00000,99.00
test,768.0,140.671875,86.383060,14.000,121.50000,125.0000,127.25000,846.00
mass,768.0,32.455208,6.875177,18.200,27.50000,32.3000,36.60000,67.10
pedi,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
class,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

# 6. See the distribution of 'Class' variable and plot it using appropriate graph

In [8]:
pima_df.groupby("class").agg({'class': 'count'})

       class
class
0        500
1        268

# 7. Use pairplots and correlation method to observe the relationship between different variables and state your insights.
Hint: Use seaborn plot and check the relationship between different variables

In [ ]:
import seaborn as sns
sns.pairplot(pima_df, hue="class", palette="husl")

In [ ]:
pima_df.corr()

Check for correlation between variables whose values are >0.8

Observations:

Diagonal plots have already been discussed in the Observations I of Univariate Analysis.
There are no linear relationships between any two variables.
There is no strong correlation between any two variables.
There is no strong correlation between any independent variable and class variable.

Using the plot - infer the relationship between different variables

# 8. Split the pima_df into training and test set in the ratio of 70:30 (Training:Test).

In [ ]:
# splitting data into training and test set for independent attributes
n=pima_df['class'].count()
train_set = pima_df.head(int(round(n*0.7))) # Up to the last initial training set row
test_set = pima_df.tail(int(round(n*0.3))) # Past the last initial training set row

# capture the target column ("class") into separate vectors for training set and test set
train_labels = train_set.pop("class")
test_labels = test_set.pop("class")

# 9. Create the decision tree model using “entropy” method of reducing the entropy and fit it to training data.

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion = 'entropy' )
dt_model.fit(train_set, train_labels)

# 10. Print the accuracy of the model & print the confusion matrix

In [ ]:
dt_model.score(test_set , test_labels)
test_pred = dt_model.predict(test_set)

In [ ]:
print (pd.DataFrame(dt_model.feature_importances_, columns = ["Imp"], index = train_set.columns))#Print the feature importance of the decision model