In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
#engine = create_engine("mysql+mysqldb://root:mysql@localhost/world",pool_recycle=3306, echo=True)

In [4]:
!select * from country

'select' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
%sql mysql+mysqldb://root:mysql@localhost:3306/world

In [7]:
 %sql select * from country limit 5

 * mysql+mysqldb://root:***@localhost:3306/world
5 rows affected.

[('ABW', 'Aruba', 'North America', 'Caribbean', Decimal('193.00'), None, 103000, Decimal('78.4'), Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', Decimal('652090.00'), 1919, 22720000, Decimal('45.9'), Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', Decimal('1246700.00'), 1975, 12878000, Decimal('38.3'), Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', Decimal('96.00'), None, 8000, Decimal('76.1'), Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', Decimal('28748.00'), 1912, 3401200, Decimal('71.6'), Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL')]

In [8]:
 %sql select * from country where name ='India'

 * mysql+mysqldb://root:***@localhost:3306/world
1 rows affected.

[('IND', 'India', 'Asia', 'Southern and Central Asia', Decimal('3287263.00'), 1947, 1013662000, Decimal('62.5'), Decimal('447114.00'), Decimal('430572.00'), 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109, 'IN')]

In [9]:
 %sql select Code as 'ISO COde' from country where name ='India'

 * mysql+mysqldb://root:***@localhost:3306/world
1 rows affected.

[('IND',)]