In [47]:
import findspark

In [48]:
findspark.init('/home/ec2-user/spark-3.1.1-bin-hadoop3.2')

In [49]:
import pyspark

In [50]:
from pyspark.context import SparkContext
from pyspark import SQLContext, SparkConf
from pyspark.sql import SparkSession

In [51]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [52]:
df = spark.read.csv('cars.csv',header=True)

In [53]:
type(df)

pyspark.sql.dataframe.DataFrame

In [54]:
df.columns

['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_name']

In [55]:
df.show()

+---+---+----+---+----+----+---+------+--------------------+
|mpg|cyl|disp| hp|  wt| acc| yr|origin|            car_name|
+---+---+----+---+----+----+---+------+--------------------+
| 18|  8| 307|130|3504|  12| 70|     1|chevrolet chevell...|
| 15|  8| 350|165|3693|11.5| 70|     1|   buick skylark 320|
| 18|  8| 318|150|3436|  11| 70|     1|  plymouth satellite|
| 16|  8| 304|150|3433|  12| 70|     1|       amc rebel sst|
| 17|  8| 302|140|3449|10.5| 70|     1|         ford torino|
| 15|  8| 429|198|4341|  10| 70|     1|    ford galaxie 500|
| 14|  8| 454|220|4354|   9| 70|     1|    chevrolet impala|
| 14|  8| 440|215|4312| 8.5| 70|     1|   plymouth fury iii|
| 14|  8| 455|225|4425|  10| 70|     1|    pontiac catalina|
| 15|  8| 390|190|3850| 8.5| 70|     1|  amc ambassador dpl|
| 15|  8| 383|170|3563|  10| 70|     1| dodge challenger se|
| 14|  8| 340|160|3609|   8| 70|     1|  plymouth 'cuda 340|
| 15|  8| 400|150|3761| 9.5| 70|     1|chevrolet monte c...|
| 14|  8| 455|225|3086|  10| 70|     1|buick estate wago...|
| 24|  4| 113| 95|2372|  15| 70|     3|toyota corona mar...|
| 22|  6| 198| 95|2833|15.5| 70|     1|     plymouth duster|
| 18|  6| 199| 97|2774|15.5| 70|     1|          amc hornet|
| 21|  6| 200| 85|2587|  16| 70|     1|       ford maverick|
| 27|  4|  97| 88|2130|14.5| 70|     3|        datsun pl510|
| 26|  4|  97| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
+---+---+----+---+----+----+---+------+--------------------+
only showing top 20 rows

In [56]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|summary|               mpg|               cyl|              disp|                hp|               wt|               acc|                yr|            origin|            car_name|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|  count|               398|               398|               398|               398|              398|               398|               398|               398|                 398|
|   mean|23.514572864321615| 5.454773869346734|193.42587939698493|104.46938775510205|2970.424623115578|15.568090452261291| 76.01005025125629|1.5728643216080402|                null|
| stddev| 7.815984312565783|1.7010042445332123|104.26983817119587| 38.49115993282846|846.8417741973268| 2.757688929812676|3.6976266467325862|0.8020548777266148|                null|
|    min|                10|                 3|               100|               100|             1613|                10|                70|                 1|amc ambassador br...|
|    max|                 9|                 8|                98|                 ?|             5140|               9.5|                82|                 3|    vw rabbit custom|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+

In [57]:
df.printSchema()

root
 |-- mpg: string (nullable = true)
 |-- cyl: string (nullable = true)
 |-- disp: string (nullable = true)
 |-- hp: string (nullable = true)
 |-- wt: string (nullable = true)
 |-- acc: string (nullable = true)
 |-- yr: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- car_name: string (nullable = true)

In [58]:
df.head(3)

[Row(mpg='18', cyl='8', disp='307', hp='130', wt='3504', acc='12', yr='70', origin='1', car_name='chevrolet chevelle malibu'),
 Row(mpg='15', cyl='8', disp='350', hp='165', wt='3693', acc='11.5', yr='70', origin='1', car_name='buick skylark 320'),
 Row(mpg='18', cyl='8', disp='318', hp='150', wt='3436', acc='11', yr='70', origin='1', car_name='plymouth satellite')]

In [59]:
df.select('car_name').show()

+--------------------+
|            car_name|
+--------------------+
|chevrolet chevell...|
|   buick skylark 320|
|  plymouth satellite|
|       amc rebel sst|
|         ford torino|
|    ford galaxie 500|
|    chevrolet impala|
|   plymouth fury iii|
|    pontiac catalina|
|  amc ambassador dpl|
| dodge challenger se|
|  plymouth 'cuda 340|
|chevrolet monte c...|
|buick estate wago...|
|toyota corona mar...|
|     plymouth duster|
|          amc hornet|
|       ford maverick|
|        datsun pl510|
|volkswagen 1131 d...|
+--------------------+
only showing top 20 rows

In [61]:
# creating a SQL view and using it for query
df.createOrReplaceTempView('cyl')

In [70]:
sql_results = spark.sql("SELECT max(cyl) FROM cyl")

In [72]:
sql_results.show()

+--------+
|max(cyl)|
+--------+
|       8|
+--------+

In [76]:
sql_results = spark.sql("SELECT * FROM cyl where cyl<6")

In [77]:
sql_results.show()

+---+---+----+---+----+----+---+------+--------------------+
|mpg|cyl|disp| hp|  wt| acc| yr|origin|            car_name|
+---+---+----+---+----+----+---+------+--------------------+
| 24|  4| 113| 95|2372|  15| 70|     3|toyota corona mar...|
| 27|  4|  97| 88|2130|14.5| 70|     3|        datsun pl510|
| 26|  4|  97| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
| 25|  4| 110| 87|2672|17.5| 70|     2|         peugeot 504|
| 24|  4| 107| 90|2430|14.5| 70|     2|         audi 100 ls|
| 25|  4| 104| 95|2375|17.5| 70|     2|            saab 99e|
| 26|  4| 121|113|2234|12.5| 70|     2|            bmw 2002|
| 27|  4|  97| 88|2130|14.5| 71|     3|        datsun pl510|
| 28|  4| 140| 90|2264|15.5| 71|     1| chevrolet vega 2300|
| 25|  4| 113| 95|2228|  14| 71|     3|       toyota corona|
| 25|  4|  98|  ?|2046|  19| 71|     1|          ford pinto|
| 22|  4| 140| 72|2408|  19| 71|     1| chevrolet vega (sw)|
| 23|  4| 122| 86|2220|  14| 71|     1|  mercury capri 2000|
| 28|  4| 116| 90|2123|  14| 71|     2|           opel 1900|
| 30|  4|  79| 70|2074|19.5| 71|     2|         peugeot 304|
| 30|  4|  88| 76|2065|14.5| 71|     2|           fiat 124b|
| 31|  4|  71| 65|1773|  19| 71|     3| toyota corolla 1200|
| 35|  4|  72| 69|1613|  18| 71|     3|         datsun 1200|
| 27|  4|  97| 60|1834|  19| 71|     2|volkswagen model 111|
| 26|  4|  91| 70|1955|20.5| 71|     1|    plymouth cricket|
+---+---+----+---+----+----+---+------+--------------------+
only showing top 20 rows

In [79]:
df.filter("hp<50").show()

+----+---+----+---+----+----+---+------+--------------------+
| mpg|cyl|disp| hp|  wt| acc| yr|origin|            car_name|
+----+---+----+---+----+----+---+------+--------------------+
|  26|  4|  97| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
|  26|  4|  97| 46|1950|  21| 73|     2|volkswagen super ...|
|  29|  4|  68| 49|1867|19.5| 73|     2|            fiat 128|
|43.1|  4|  90| 48|1985|21.5| 78|     2|volkswagen rabbit...|
|44.3|  4|  90| 48|2085|21.7| 80|     2|vw rabbit c (diesel)|
|43.4|  4|  90| 48|2335|23.7| 80|     2|  vw dasher (diesel)|
+----+---+----+---+----+----+---+------+--------------------+

In [80]:
df.filter("hp<50").select('hp','car_name').show()

+---+--------------------+
| hp|            car_name|
+---+--------------------+
| 46|volkswagen 1131 d...|
| 46|volkswagen super ...|
| 49|            fiat 128|
| 48|volkswagen rabbit...|
| 48|vw rabbit c (diesel)|
| 48|  vw dasher (diesel)|
+---+--------------------+

In [82]:
df.filter( (df["hp"] < 50) & (df['wt'] > 1900) ).show()

+----+---+----+---+----+----+---+------+--------------------+
| mpg|cyl|disp| hp|  wt| acc| yr|origin|            car_name|
+----+---+----+---+----+----+---+------+--------------------+
|  26|  4|  97| 46|1950|  21| 73|     2|volkswagen super ...|
|43.1|  4|  90| 48|1985|21.5| 78|     2|volkswagen rabbit...|
|44.3|  4|  90| 48|2085|21.7| 80|     2|vw rabbit c (diesel)|
|43.4|  4|  90| 48|2335|23.7| 80|     2|  vw dasher (diesel)|
+----+---+----+---+----+----+---+------+--------------------+

In [83]:
result = df.filter( (df["hp"] < 50) & (df['wt'] > 1900) ).collect()

In [84]:
type(result[0])

pyspark.sql.types.Row

In [85]:
type(result)

list

In [86]:
result[1]

Row(mpg='43.1', cyl='4', disp='90', hp='48', wt='1985', acc='21.5', yr='78', origin='2', car_name='volkswagen rabbit custom diesel')

In [87]:
result[1].asDict()

{'mpg': '43.1',
 'cyl': '4',
 'disp': '90',
 'hp': '48',
 'wt': '1985',
 'acc': '21.5',
 'yr': '78',
 'origin': '2',
 'car_name': 'volkswagen rabbit custom diesel'}

In [89]:
for item in result[1]:
    print(item)

43.1
4
90
48
1985
21.5
78
2
volkswagen rabbit custom diesel

In [90]:
df.groupBy("cyl").count().show()

+---+-----+
|cyl|count|
+---+-----+
|  3|    4|
|  8|  103|
|  5|    3|
|  6|   84|
|  4|  204|
+---+-----+

In [91]:
df.orderBy("car_name").show()

+----+---+----+---+----+----+---+------+--------------------+
| mpg|cyl|disp| hp|  wt| acc| yr|origin|            car_name|
+----+---+----+---+----+----+---+------+--------------------+
|  13|  8| 360|175|3821|  11| 73|     1|amc ambassador br...|
|  15|  8| 390|190|3850| 8.5| 70|     1|  amc ambassador dpl|
|  17|  8| 304|150|3672|11.5| 72|     1|  amc ambassador sst|
|19.4|  6| 232| 90|3210|17.2| 78|     1|         amc concord|
|24.3|  4| 151| 90|3003|20.1| 80|     1|         amc concord|
|18.1|  6| 258|120|3410|15.1| 78|     1|     amc concord d/l|
|  23|  4| 151|  ?|3035|20.5| 82|     1|      amc concord dl|
|20.2|  6| 232| 90|3265|18.2| 79|     1|    amc concord dl 6|
|  20|  6| 232|100|2914|  16| 75|     1|         amc gremlin|
|  19|  6| 232|100|2634|  13| 71|     1|         amc gremlin|
|  21|  6| 199| 90|2648|  15| 70|     1|         amc gremlin|
|  18|  6| 232|100|2789|  15| 73|     1|         amc gremlin|
|  18|  6| 199| 97|2774|15.5| 70|     1|          amc hornet|
|  18|  6| 232|100|2945|  16| 73|     1|          amc hornet|
|  19|  6| 232|100|2901|  16| 74|     1|          amc hornet|
|22.5|  6| 232| 90|3085|17.6| 76|     1|          amc hornet|
|  18|  6| 258|110|2962|13.5| 71|     1|amc hornet sporta...|
|  16|  6| 258|110|3632|  18| 74|     1|         amc matador|
|  14|  8| 304|150|3672|11.5| 73|     1|         amc matador|
|  15|  6| 258|110|3730|  19| 75|     1|         amc matador|
+----+---+----+---+----+----+---+------+--------------------+
only showing top 20 rows

## LinearRegression in pySpark

In [11]:
from pyspark.ml.regression import LinearRegression

In [12]:
all_data = spark.read.format("libsvm").load("sample_linear_regression_data.txt")

In [13]:
# Pass in the split between training/test as a list.
# No correct, but generally 70/30 or 60/40 splits are used. 
# Depending on how much data you have and how unbalanced it is.
train_data,test_data = all_data.randomSplit([0.7,0.3])

In [14]:
train_data.show()

+-------------------+--------------------+
|              label|            features|
+-------------------+--------------------+
|-28.046018037776633|(10,[0,1,2,3,4,5,...|
|-23.487440120936512|(10,[0,1,2,3,4,5,...|
|-22.949825936196074|(10,[0,1,2,3,4,5,...|
|-22.837460416919342|(10,[0,1,2,3,4,5,...|
|-21.432387764165806|(10,[0,1,2,3,4,5,...|
|-20.057482615789212|(10,[0,1,2,3,4,5,...|
|-19.884560774273424|(10,[0,1,2,3,4,5,...|
|-19.872991038068406|(10,[0,1,2,3,4,5,...|
|-19.782762789614537|(10,[0,1,2,3,4,5,...|
| -19.66731861537172|(10,[0,1,2,3,4,5,...|
|-19.402336030214553|(10,[0,1,2,3,4,5,...|
|-17.803626188664516|(10,[0,1,2,3,4,5,...|
|-17.428674570939506|(10,[0,1,2,3,4,5,...|
| -17.32672073267595|(10,[0,1,2,3,4,5,...|
|-17.065399625876015|(10,[0,1,2,3,4,5,...|
|-17.026492264209548|(10,[0,1,2,3,4,5,...|
| -16.71909683360509|(10,[0,1,2,3,4,5,...|
| -16.26143027545273|(10,[0,1,2,3,4,5,...|
|-16.151349351277112|(10,[0,1,2,3,4,5,...|
| -16.08565904102149|(10,[0,1,2,3,4,5,...|
+-------------------+--------------------+
only showing top 20 rows

In [15]:
test_data.show()

+-------------------+--------------------+
|              label|            features|
+-------------------+--------------------+
|-28.571478869743427|(10,[0,1,2,3,4,5,...|
|-26.805483428483072|(10,[0,1,2,3,4,5,...|
|-26.736207182601724|(10,[0,1,2,3,4,5,...|
| -23.51088409032297|(10,[0,1,2,3,4,5,...|
|-20.212077258958672|(10,[0,1,2,3,4,5,...|
| -19.16829262296376|(10,[0,1,2,3,4,5,...|
|-18.845922472898582|(10,[0,1,2,3,4,5,...|
| -18.27521356600463|(10,[0,1,2,3,4,5,...|
|-17.494200356883344|(10,[0,1,2,3,4,5,...|
|-16.692207021311106|(10,[0,1,2,3,4,5,...|
| -15.72351561304857|(10,[0,1,2,3,4,5,...|
|-15.348871155379253|(10,[0,1,2,3,4,5,...|
|-14.762758252931127|(10,[0,1,2,3,4,5,...|
|-13.976130931152703|(10,[0,1,2,3,4,5,...|
|-13.867087895158768|(10,[0,1,2,3,4,5,...|
|-13.772441561702871|(10,[0,1,2,3,4,5,...|
| -13.15333560636553|(10,[0,1,2,3,4,5,...|
|-12.558575788856189|(10,[0,1,2,3,4,5,...|
|-12.491442077546413|(10,[0,1,2,3,4,5,...|
|-12.479280211451497|(10,[0,1,2,3,4,5,...|
+-------------------+--------------------+
only showing top 20 rows

In [16]:
unlabeled_data = test_data.select('features')

In [17]:
unlabeled_data.show()

+--------------------+
|            features|
+--------------------+
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
|(10,[0,1,2,3,4,5,...|
+--------------------+
only showing top 20 rows

In [18]:
lr = LinearRegression(featuresCol='features', labelCol='label', predictionCol='prediction')

In [19]:
correct_model = lr.fit(train_data)

In [20]:
test_results = correct_model.evaluate(test_data)

In [21]:
test_results.residuals.show()
print("RMSE: {}".format(test_results.rootMeanSquaredError))

+-------------------+
|          residuals|
+-------------------+
| -30.11076412180975|
| -27.58530020532035|
|-24.166993780540622|
|-22.128914780662917|
|-21.913061409208495|
|  -16.3980036518122|
|-22.817933367691552|
|-19.711580801312174|
|-14.266019229195605|
|-16.981335086905872|
| -19.89286248019693|
| -13.21089442256958|
|-14.132922334274744|
|-13.659855746741185|
|-13.711870936989563|
| -19.29359349541181|
|-12.824457440254776|
| -13.48549760638075|
|-14.439511178682995|
|-11.971105355267202|
+-------------------+
only showing top 20 rows

RMSE: 9.958947447141474

In [22]:
predictions = correct_model.transform(unlabeled_data)

In [92]:
predictions.show()

+--------------------+--------------------+
|            features|          prediction|
+--------------------+--------------------+
|(10,[0,1,2,3,4,5,...|  1.5392852520663243|
|(10,[0,1,2,3,4,5,...|  0.7798167768372809|
|(10,[0,1,2,3,4,5,...| -2.5692134020611017|
|(10,[0,1,2,3,4,5,...| -1.3819693096600552|
|(10,[0,1,2,3,4,5,...|  1.7009841502498246|
|(10,[0,1,2,3,4,5,...| -2.7702889711515626|
|(10,[0,1,2,3,4,5,...|   3.972010894792971|
|(10,[0,1,2,3,4,5,...|   1.436367235307543|
|(10,[0,1,2,3,4,5,...|  -3.228181127687739|
|(10,[0,1,2,3,4,5,...| 0.28912806559476684|
|(10,[0,1,2,3,4,5,...|    4.16934686714836|
|(10,[0,1,2,3,4,5,...|  -2.137976732809673|
|(10,[0,1,2,3,4,5,...| -0.6298359186563837|
|(10,[0,1,2,3,4,5,...| -0.3162751844115178|
|(10,[0,1,2,3,4,5,...|-0.15521695816920533|
|(10,[0,1,2,3,4,5,...|  5.5211519337089365|
|(10,[0,1,2,3,4,5,...| -0.3288781661107554|
|(10,[0,1,2,3,4,5,...|   0.926921817524561|
|(10,[0,1,2,3,4,5,...|   1.948069101136583|
|(10,[0,1,2,3,4,5,...| -0.5081748561842961|
+--------------------+--------------------+
only showing top 20 rows

## DecisionTreeClassifier,GBTClassifier,RandomForestClassifier

In [93]:
# Classify whether teh college is Public or Private

In [94]:
data = spark.read.csv('College.csv',inferSchema=True,header=True)

In [95]:
data.printSchema()

root
 |-- School: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F_Undergrad: integer (nullable = true)
 |-- P_Undergrad: integer (nullable = true)
 |-- Outstate: integer (nullable = true)
 |-- Room_Board: integer (nullable = true)
 |-- Books: integer (nullable = true)
 |-- Personal: integer (nullable = true)
 |-- PhD: integer (nullable = true)
 |-- Terminal: integer (nullable = true)
 |-- S_F_Ratio: double (nullable = true)
 |-- perc_alumni: integer (nullable = true)
 |-- Expend: integer (nullable = true)
 |-- Grad_Rate: integer (nullable = true)

In [96]:
data.head()

Row(School='Abilene Christian University', Private='Yes', Apps=1660, Accept=1232, Enroll=721, Top10perc=23, Top25perc=52, F_Undergrad=2885, P_Undergrad=537, Outstate=7440, Room_Board=3300, Books=450, Personal=2200, PhD=70, Terminal=78, S_F_Ratio=18.1, perc_alumni=12, Expend=7041, Grad_Rate=60)

In [97]:
# Import VectorAssembler and Vectors
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [98]:
data.columns

['School',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate']

In [99]:
assembler = VectorAssembler(
  inputCols=['Apps',
             'Accept',
             'Enroll',
             'Top10perc',
             'Top25perc',
             'F_Undergrad',
             'P_Undergrad',
             'Outstate',
             'Room_Board',
             'Books',
             'Personal',
             'PhD',
             'Terminal',
             'S_F_Ratio',
             'perc_alumni',
             'Expend',
             'Grad_Rate'],
              outputCol="features")

In [100]:
output = assembler.transform(data)

In [101]:
type(output)

pyspark.sql.dataframe.DataFrame

In [102]:
output.head()

Row(School='Abilene Christian University', Private='Yes', Apps=1660, Accept=1232, Enroll=721, Top10perc=23, Top25perc=52, F_Undergrad=2885, P_Undergrad=537, Outstate=7440, Room_Board=3300, Books=450, Personal=2200, PhD=70, Terminal=78, S_F_Ratio=18.1, perc_alumni=12, Expend=7041, Grad_Rate=60, features=DenseVector([1660.0, 1232.0, 721.0, 23.0, 52.0, 2885.0, 537.0, 7440.0, 3300.0, 450.0, 2200.0, 70.0, 78.0, 18.1, 12.0, 7041.0, 60.0]))

In [103]:
from pyspark.ml.feature import StringIndexer

In [104]:
indexer = StringIndexer(inputCol="Private", outputCol="PrivateIndex")
output_fixed = indexer.fit(output).transform(output)

In [105]:
final_data = output_fixed.select("features",'PrivateIndex')

In [107]:
final_data.head(5)

[Row(features=DenseVector([1660.0, 1232.0, 721.0, 23.0, 52.0, 2885.0, 537.0, 7440.0, 3300.0, 450.0, 2200.0, 70.0, 78.0, 18.1, 12.0, 7041.0, 60.0]), PrivateIndex=0.0),
 Row(features=DenseVector([2186.0, 1924.0, 512.0, 16.0, 29.0, 2683.0, 1227.0, 12280.0, 6450.0, 750.0, 1500.0, 29.0, 30.0, 12.2, 16.0, 10527.0, 56.0]), PrivateIndex=0.0),
 Row(features=DenseVector([1428.0, 1097.0, 336.0, 22.0, 50.0, 1036.0, 99.0, 11250.0, 3750.0, 400.0, 1165.0, 53.0, 66.0, 12.9, 30.0, 8735.0, 54.0]), PrivateIndex=0.0),
 Row(features=DenseVector([417.0, 349.0, 137.0, 60.0, 89.0, 510.0, 63.0, 12960.0, 5450.0, 450.0, 875.0, 92.0, 97.0, 7.7, 37.0, 19016.0, 59.0]), PrivateIndex=0.0),
 Row(features=DenseVector([193.0, 146.0, 55.0, 16.0, 44.0, 249.0, 869.0, 7560.0, 4120.0, 800.0, 1500.0, 76.0, 72.0, 11.9, 2.0, 10922.0, 15.0]), PrivateIndex=0.0)]

In [108]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [109]:
from pyspark.ml.classification import DecisionTreeClassifier,GBTClassifier,RandomForestClassifier
from pyspark.ml import Pipeline

In [110]:
dtc = DecisionTreeClassifier(labelCol='PrivateIndex',featuresCol='features')
rfc = RandomForestClassifier(labelCol='PrivateIndex',featuresCol='features')
gbt = GBTClassifier(labelCol='PrivateIndex',featuresCol='features')

In [111]:
dtc_model = dtc.fit(train_data)
rfc_model = rfc.fit(train_data)
gbt_model = gbt.fit(train_data)

In [112]:
dtc_predictions = dtc_model.transform(test_data)
rfc_predictions = rfc_model.transform(test_data)
gbt_predictions = gbt_model.transform(test_data)

In [113]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [114]:
acc_evaluator = MulticlassClassificationEvaluator(labelCol="PrivateIndex", predictionCol="prediction", metricName="accuracy")

In [115]:
dtc_acc = acc_evaluator.evaluate(dtc_predictions)
rfc_acc = acc_evaluator.evaluate(rfc_predictions)
gbt_acc = acc_evaluator.evaluate(gbt_predictions)

In [116]:
print("Here are the results!")
print('-'*80)
print('A single decision tree had an accuracy of: {0:2.2f}%'.format(dtc_acc*100))
print('-'*80)
print('A random forest ensemble had an accuracy of: {0:2.2f}%'.format(rfc_acc*100))
print('-'*80)
print('A ensemble using GBT had an accuracy of: {0:2.2f}%'.format(gbt_acc*100))

Here are the results!
--------------------------------------------------------------------------------
A single decision tree had an accuracy of: 88.48%
--------------------------------------------------------------------------------
A random forest ensemble had an accuracy of: 92.59%
--------------------------------------------------------------------------------
A ensemble using GBT had an accuracy of: 88.07%

## Clustering

In [24]:
from pyspark.ml.clustering import KMeans

# Loads data.
dataset = spark.read.csv("seeds_dataset.csv",header=True,inferSchema=True)

In [25]:
dataset.head()

Row(area=15.26, perimeter=14.84, compactness=0.871, length_of_kernel=5.763, width_of_kernel=3.312, asymmetry_coefficient=2.221, length_of_groove=5.22)

In [26]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [27]:
dataset.columns

['area',
 'perimeter',
 'compactness',
 'length_of_kernel',
 'width_of_kernel',
 'asymmetry_coefficient',
 'length_of_groove']

In [28]:
vec_assembler = VectorAssembler(inputCols = dataset.columns, outputCol='features')

In [29]:
final_data = vec_assembler.transform(dataset)

In [30]:
from pyspark.ml.feature import StandardScaler

In [31]:
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True, withMean=False)

In [32]:
# Compute summary statistics by fitting the StandardScaler
scalerModel = scaler.fit(final_data)

In [33]:
# Normalize each feature to have unit standard deviation.
final_data = scalerModel.transform(final_data)

In [34]:
# Trains a k-means model.
kmeans = KMeans(featuresCol='scaledFeatures',k=3)
model = kmeans.fit(final_data)

In [35]:
# Shows the result.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[ 4.07497225 10.14410142 35.89816849 11.80812742  7.54416916  3.15410901
 10.38031464]
[ 6.35645488 12.40730852 37.41990178 13.93860446  9.7892399   2.41585013
 12.29286107]
[ 4.96198582 10.97871333 37.30930808 12.44647267  8.62880781  1.80061978
 10.41913733]

In [36]:
model.transform(final_data).select('prediction').show()

+----------+
|prediction|
+----------+
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         1|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         2|
|         0|
+----------+
only showing top 20 rows

## NLP Binary Classification on Spam/Good SMS

In [118]:
data = spark.read.csv("SMSSpamCollection",inferSchema=True,sep='\t')

In [119]:
data = data.withColumnRenamed('_c0','class').withColumnRenamed('_c1','text')

In [120]:
data.show()

+-----+--------------------+
|class|                text|
+-----+--------------------+
|  ham|Go until jurong p...|
|  ham|Ok lar... Joking ...|
| spam|Free entry in 2 a...|
|  ham|U dun say so earl...|
|  ham|Nah I don't think...|
| spam|FreeMsg Hey there...|
|  ham|Even my brother i...|
|  ham|As per your reque...|
| spam|WINNER!! As a val...|
| spam|Had your mobile 1...|
|  ham|I'm gonna be home...|
| spam|SIX chances to wi...|
| spam|URGENT! You have ...|
|  ham|I've been searchi...|
|  ham|I HAVE A DATE ON ...|
| spam|XXXMobileMovieClu...|
|  ham|Oh k...i'm watchi...|
|  ham|Eh u remember how...|
|  ham|Fine if thats th...|
| spam|England v Macedon...|
+-----+--------------------+
only showing top 20 rows

In [121]:
from pyspark.sql.functions import length

In [122]:
data = data.withColumn('length',length(data['text']))

In [123]:
data.show()

+-----+--------------------+------+
|class|                text|length|
+-----+--------------------+------+
|  ham|Go until jurong p...|   111|
|  ham|Ok lar... Joking ...|    29|
| spam|Free entry in 2 a...|   155|
|  ham|U dun say so earl...|    49|
|  ham|Nah I don't think...|    61|
| spam|FreeMsg Hey there...|   147|
|  ham|Even my brother i...|    77|
|  ham|As per your reque...|   160|
| spam|WINNER!! As a val...|   157|
| spam|Had your mobile 1...|   154|
|  ham|I'm gonna be home...|   109|
| spam|SIX chances to wi...|   136|
| spam|URGENT! You have ...|   155|
|  ham|I've been searchi...|   196|
|  ham|I HAVE A DATE ON ...|    35|
| spam|XXXMobileMovieClu...|   149|
|  ham|Oh k...i'm watchi...|    26|
|  ham|Eh u remember how...|    81|
|  ham|Fine if thats th...|    56|
| spam|England v Macedon...|   155|
+-----+--------------------+------+
only showing top 20 rows

In [124]:
# Pretty Clear Difference
data.groupby('class').mean().show()

+-----+-----------------+
|class|      avg(length)|
+-----+-----------------+
|  ham|71.45431945307645|
| spam|138.6706827309237|
+-----+-----------------+

In [125]:
from pyspark.ml.feature import Tokenizer,StopWordsRemover, CountVectorizer,IDF,StringIndexer

In [126]:
tokenizer = Tokenizer(inputCol="text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
count_vec = CountVectorizer(inputCol='stop_tokens',outputCol='c_vec')
idf = IDF(inputCol="c_vec", outputCol="tf_idf")
ham_spam_to_num = StringIndexer(inputCol='class',outputCol='label')

In [127]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

In [128]:
clean_up = VectorAssembler(inputCols=['tf_idf','length'],outputCol='features')

In [129]:
from pyspark.ml.classification import NaiveBayes

In [130]:
# Use defaults
nb = NaiveBayes()

In [131]:
from pyspark.ml import Pipeline

In [132]:
data_prep_pipe = Pipeline(stages=[ham_spam_to_num,tokenizer,stopremove,count_vec,idf,clean_up])

In [133]:
cleaner = data_prep_pipe.fit(data)

In [134]:
clean_data = cleaner.transform(data)

In [135]:
clean_data = clean_data.select(['label','features'])

In [136]:
clean_data.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(13424,[7,11,31,6...|
|  0.0|(13424,[0,24,297,...|
|  1.0|(13424,[2,13,19,3...|
|  0.0|(13424,[0,70,80,1...|
|  0.0|(13424,[36,134,31...|
|  1.0|(13424,[10,60,139...|
|  0.0|(13424,[10,53,103...|
|  0.0|(13424,[125,184,4...|
|  1.0|(13424,[1,47,118,...|
|  1.0|(13424,[0,1,13,27...|
|  0.0|(13424,[18,43,120...|
|  1.0|(13424,[8,17,37,8...|
|  1.0|(13424,[13,30,47,...|
|  0.0|(13424,[39,96,217...|
|  0.0|(13424,[552,1697,...|
|  1.0|(13424,[30,109,11...|
|  0.0|(13424,[82,214,47...|
|  0.0|(13424,[0,2,49,13...|
|  0.0|(13424,[0,74,105,...|
|  1.0|(13424,[4,30,33,5...|
+-----+--------------------+
only showing top 20 rows

In [137]:
(training,testing) = clean_data.randomSplit([0.7,0.3])

In [138]:
spam_predictor = nb.fit(training)

In [139]:
data.printSchema()

root
 |-- class: string (nullable = true)
 |-- text: string (nullable = true)
 |-- length: integer (nullable = true)

In [140]:
test_results = spam_predictor.transform(testing)

In [141]:
test_results.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(13424,[0,1,2,41,...|[-1095.7405555588...|[0.99999999999999...|       0.0|
|  0.0|(13424,[0,1,4,50,...|[-834.44332386290...|[1.0,1.7510124086...|       0.0|
|  0.0|(13424,[0,1,5,15,...|[-1003.0702062455...|[1.0,2.5804336480...|       0.0|
|  0.0|(13424,[0,1,7,8,1...|[-879.21729294645...|[1.0,2.9425054127...|       0.0|
|  0.0|(13424,[0,1,7,8,1...|[-1154.8501403550...|[1.0,1.0149703186...|       0.0|
|  0.0|(13424,[0,1,9,14,...|[-538.88581517649...|[1.0,3.6655468330...|       0.0|
|  0.0|(13424,[0,1,12,33...|[-466.88255263544...|[1.0,1.0628457672...|       0.0|
|  0.0|(13424,[0,1,14,18...|[-1379.7263875076...|[1.0,8.3279409940...|       0.0|
|  0.0|(13424,[0,1,14,78...|[-688.79826563448...|[1.0,1.6011120288...|       0.0|
|  0.0|(13424,[0,1,15,20...|[-688.93799541091...|[1.0,1.1209926485...|       0.0|
|  0.0|(13424,[0,1,17,19...|[-823.99497156689...|[1.0,3.4696696551...|       0.0|
|  0.0|(13424,[0,1,18,20...|[-832.90702287011...|[1.0,1.6724811630...|       0.0|
|  0.0|(13424,[0,1,23,63...|[-1308.8190088953...|[1.0,1.5183770540...|       0.0|
|  0.0|(13424,[0,1,24,31...|[-357.67829963692...|[1.0,3.7705584076...|       0.0|
|  0.0|(13424,[0,1,46,17...|[-1157.4247041543...|[1.08770273756349...|       1.0|
|  0.0|(13424,[0,1,72,10...|[-668.97166936454...|[1.0,2.6056750129...|       0.0|
|  0.0|(13424,[0,1,146,1...|[-254.12408809696...|[0.12953619004436...|       1.0|
|  0.0|(13424,[0,1,498,5...|[-318.09108837108...|[0.99999999999987...|       0.0|
|  0.0|(13424,[0,2,3,4,6...|[-1286.1724425806...|[1.0,1.8218056112...|       0.0|
|  0.0|(13424,[0,2,3,6,9...|[-3294.0693131765...|[1.0,2.1608440089...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [142]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [143]:
acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting spam was: {}".format(acc))

Accuracy of model at predicting spam was: 0.9191489871735747