## Python Basics

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
3+4

7

In [3]:
2*2

4

In [4]:
2**3

8

In [5]:
i1 = 1_000_000

In [6]:
i1

1000000

In [7]:
f1= 1e-6

In [8]:
f1

1e-06

In [9]:
type(f1)

float

In [10]:
6//4

1

In [11]:
"test "+str(10)

'test 10'

In [12]:
aNone= None

In [13]:
type(aNone)

NoneType

In [14]:
type(4.0)

float

In [15]:
type(10>6)

bool

In [16]:
my_dogs = ['Sammy', 'Frankie']

In [17]:
a = 5
b= 3.3
c = "str"

In [18]:
id(a)

140725770401696

In [19]:
type(a)

int

In [20]:
type(b)

float

In [21]:
type(c)

str

In [22]:
del(a)

In [23]:
b = bytes([1,2,3,4])

In [24]:
type(b)

bytes

In [279]:
assert(20>10)

In [280]:
"1.2".isdigit()

False

In [281]:
"1.2".isdecimal()

False

In [317]:
ord('c')
# The 'ord' function outputs the Unicode code point (which is an integer) for the entered character

99

### Bitwsie operators

In [26]:
2&2

2

In [27]:
2|2

2

In [28]:
~2

-3

In [29]:
2>>1

1

In [30]:
2<<1

4

In [31]:
2<<2

8

In [32]:
bit1 = 1
bit2 =0

In [33]:
bit1&bit2

0

In [34]:
bit1|bit2

1

In [35]:
bit1^bit2

1

In [36]:
bit1^bit1

0

In [37]:
bit1|bit1

1

In [38]:
~bit1

-2

### Print

In [39]:
print("test", "line", sep="####")

test####line

In [40]:
print("Hello"*3)

HelloHelloHello

In [41]:
name="jj"
marks=94.5678

In [42]:
print("Name is",name,"Marks is",marks)

Name is jj Marks is 94.5678

In [43]:
print("Name is %s,Marks are %.3f"%(name,marks))

Name is jj,Marks are 94.568

In [44]:
print("Name is {},Marks are {}".format(name,marks))

Name is jj,Marks are 94.5678

In [45]:
print("Name is {0},Marks are {1}".format(name,marks))

Name is jj,Marks are 94.5678

In [46]:
print("test1", "test2", end=':')

test1 test2:

In [47]:
print("test1", "test2", sep=':')

test1:test2

### String

In [48]:
s1= "Hello JMJ"

In [49]:
len(s1)

9

In [50]:
s1[2]

'l'

In [51]:
# Grab everything UP TO the 3rd index
s1[:3]

'Hel'

In [52]:
#Everything
s1[:]

'Hello JMJ'

In [53]:
# Upper Case a string
s1.upper()

'HELLO JMJ'

In [54]:
##s1.reverse()

In [356]:
s2="""this is
a multiline
string"""

In [357]:
# strip spaces
s2.strip()

'this is\na multiline\nstring'

In [358]:
s2.find("is")

2

In [362]:
# 'rfind' is similar to 'find' except that it starts searching for the substring from the right of the target string.
sentence = "Hello, how are you?"

In [363]:
print(sentence.find("o"))  # Output: 4
print(sentence.find("o", 5))  # Output: 7
print(sentence.find("o", 8, 12))  # Output: -1 (not found)

4
8
8

In [364]:
print(sentence.rfind("o"))  # Output: 17
print(sentence.rfind("o", 0, 16))  # Output: 7
print(sentence.rfind("o", 8, 12))  # Output: -1 (not found)

16
8
8

In [361]:
s2.count("is")

2

In [59]:
s3 = 'test_test1 test2'

In [60]:
s3.title()

'Test_Test1 Test2'

In [61]:
s3.capitalize()

'Test_test1 test2'

In [319]:
"abcdef"[-3:-1]

'de'

### List

In [385]:
my_list = [1,5,2,3]

In [387]:
# list . sort will sort and  modify teh original list
my_list.sort()

In [388]:
my_list

[1, 2, 3, 5]

In [63]:
my_list.append(5)

In [64]:
len(my_list)

4

In [65]:
my_list[::-1]

[5, 3, 2, 1]

In [66]:
2 in my_list

True

In [67]:
6 not in my_list

True

In [68]:
my_list.remove(1)

In [69]:
len(my_list)

3

In [70]:
my_list[2]

5

In [71]:
my_list[1:3]

[3, 5]

In [72]:
max(my_list)

5

In [73]:
lst1 = [1,2,3,4,5]

In [74]:
lst2 = [x**2 for x in lst1]

In [75]:
lst2

[1, 4, 9, 16, 25]

In [76]:
lst2.pop()

25

In [77]:
lst2

[1, 4, 9, 16]

In [78]:
lst3 = [x for x in lst1 if x%2==0]

In [79]:
lst3

[2, 4]

### Dictionary

In [80]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [81]:
my_dict_dup = {'key2':'value2','key1':'value1'}

In [82]:
my_dict == my_dict_dup

True

In [83]:
my_dict['key2']

'value2'

In [84]:
my_dict['key3'] = "val3"

In [85]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'val3'}

In [86]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [87]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'val3')])

In [88]:
for k in my_dict.keys():
    print(k)
    print(my_dict.get(k))

key1
value1
key2
value2
key3
val3

In [89]:
for v in my_dict.values():
    print(v)

value1
value2
val3

### Tuples

In [90]:
t = (1,2,4,3)

In [91]:
len(t)

4

In [92]:
type(t)

tuple

In [93]:
sorted(t)

[1, 2, 3, 4]

In [94]:
i1,i2,i3,i4 = t

In [95]:
i3

4

In [96]:
t1 = tuple('Hello JMJ')

In [97]:
t1[:-4]

('H', 'e', 'l', 'l', 'o')

### Set

In [98]:
s={10,20,30}

In [99]:
s

{10, 20, 30}

In [100]:
type(s)

set

In [101]:
s.update([25])

In [102]:
s

{10, 20, 25, 30}

### Range

In [103]:
r = range(3)

In [104]:
for i in r:
    print(i)

0
1
2

### Logical operators

In [105]:
a1=10
b1=10

In [106]:
a1 is b1

True

In [107]:
10 ==10 and 20==30

False

In [108]:
10 ==10 or 20==30

True

### Input and Output

In [109]:
p1 = "test p"
p2 = "testp2"
num =30

In [110]:
print(p1,p2, sep=":::")

test p:::testp2

In [111]:
#s = input()

In [112]:
print("String 1:%s integer1:%d" %(p1,num))

String 1:test p integer1:30

In [113]:
print("String 1:{} integer1:{}".format(p1,num))

String 1:test p integer1:30

### File inpiut and output

In [114]:
import os,sys

if os.path.isfile('test_input_file.txt'):
    f = open('test_input_file.txt','r')   
else:
    print("File Does not Exist")

In [115]:
s=f.read()

In [116]:
s

'test data'

In [117]:
f.close()

In [299]:
fo = open('test_output_file.txt','w')

In [ ]:
# When a file is opened in write mode ('w'), all previous contents are lost.

In [119]:
fo.write("sample output from program\n")

27

In [120]:
fo.close()

In [121]:
with open('sample_input.txt','a') as the_file:
    the_file.write('\n')
    the_file.write('New line from program')

In [122]:
with open('sample_input.txt') as the_file:
    for line in the_file:
        print(line.rstrip())

New line from program
New line from program
New line from program
New line from program

In [123]:
file=open('sample_input.txt')

In [124]:
file.read()

'\nNew line from program\nNew line from program\nNew line from program\nNew line from program'

In [125]:
file.closed

False

In [126]:
file.close()

In [127]:
file.closed

True

### Flow control

In [128]:
if(True):
    print("test")

test

In [129]:
if(False):
    print("test 1")
elif(True):
    print("Test 2")
else:
    print("test3")

Test 2

In [130]:
x=1
while(x<3):
    print(x)
    x+=1

1
2

In [131]:
for i in range(5):
    if(i==2):
        continue
    print(i)
    if(i>=3):
        break

0
1
3

### Functions

In [132]:
print("Hello JMJ")

Hello JMJ

In [133]:
def print_hello_world_multiple_times(times):
    for i in range(1, times+1):
        print("Hello World")

In [134]:
print_hello_world_multiple_times(2)

Hello World
Hello World

In [135]:
def average(a,b=30):
    return((a+b)/2)

In [136]:
average(10,12)

11.0

In [137]:
average(6)

18.0

In [138]:
def display():
    def message():
        return "Hello "
    return message

In [139]:
fun=display()
print(fun())

Hello

In [140]:
import math
def add(*x1):
    print(math.fsum(x1))

In [141]:
add(20,30)

50.0

In [142]:
# recursive function
def factorialfun(n):
    if n==0:
        result=1
    else:
        result = n * factorialfun(n-1)
    return result

In [143]:
factorialfun(5)

120

In [144]:
def varargsfun(x, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [145]:
varargsfun(10)

10
()
{}

In [146]:
varargsfun(10,20,20)

10
(20, 20)
{}

In [147]:
varargsfun(10,20,20,str1="test")

10
(20, 20)
{'str1': 'test'}

In [320]:
varargsfun(10,str1="test")

10
()
{'str1': 'test'}

In [322]:
def func_1(a):
    b = a**2
    def func_2(b):
        return b+3
    return func_2

In [323]:
x = func_1(2)

In [325]:
x(2)

5

### System OS

In [149]:
import sys
sys.argv

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\jimmy\\AppData\\Roaming\\jupyter\\runtime\\kernel-51bf7c78-b18c-4a49-944f-2a81bb001f12.json']

In [150]:
sys.getwindowsversion()

sys.getwindowsversion(major=10, minor=0, build=22621, platform=2, service_pack='')

In [151]:
os.getcwd()

'C:\\gitworkspace\\aimldemo\\jupyterworkapce\\python'

In [152]:
os.listdir()

['.ipynb_checkpoints',
 'course_pickel.dat',
 'module_1.py',
 'mylog.log',
 'python_basics.ipynb',
 'python_basics_with_db_infra.ipynb',
 'sample_input.txt',
 'test_input_file.txt',
 'test_output_file.txt',
 'web_html_sample.html',
 '__pycache__']

In [318]:
sys.path

['C:\\gitworkspace\\aimldemo\\jupyterworkapce\\python',
 'C:\\ProgramData\\Anaconda3\\python38.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\jimmy\\.ipython']

### Lambdas

In [153]:
f = lambda n: n**3

In [154]:
f(3)

27

In [155]:
f1 = lambda n: "Even" if n%2==0 else "Odd"

In [156]:
f1(2)

'Even'

In [157]:
f1(3)

'Odd'

In [158]:
lst = [10,11,12,13,14]

In [159]:
list(filter(lambda x:x%2==0,lst ))

[10, 12, 14]

In [160]:
list(map(lambda x:x*2,lst))

[20, 22, 24, 26, 28]

In [161]:
lst

[10, 11, 12, 13, 14]

In [162]:
from functools import reduce

In [163]:
reduce(lambda x,y:x+y, lst)

60

### Math

In [164]:
from math import *

In [165]:
sqrt(16)

4.0

In [271]:
ceil(7.7)

8

In [272]:
ceil(-2.3)

-2

In [258]:
# all functions in math module
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

### Random

In [264]:
from random import *
random()

0.20916549024289055

In [265]:
randint(1,100)

13

In [270]:
#The choice() method returns a randomly selected element from the specified sequence
choice([1,2,3])

2

### OOP

In [170]:
class Course:
    
    # static variable
    major = "CSE"
    numberOfObjects = 0
    
    def __init__(self,name,ratings):
        self.name=name
        self.ratings=ratings
        Course.numberOfObjects+=1
    
    def average(self):
        numberOfRatings= len(self.ratings)
        average = sum(self.ratings)/numberOfRatings
        print("Average Ratings For ",self.name," Is ",average)
    
    def display(self):
        print(self.name)
        print(self.ratings)
        
    class SubCourse:
           def __init__(self,number):
               self.number=number
           def start(self):
               print("SubCourse  method invoked")

In [171]:
c1 = Course("Java Course",[1,2,3,4,5])

In [172]:
c1.name

'Java Course'

In [173]:
c1.average()

Average Ratings For  Java Course  Is  3.0

In [273]:
c1.major

'CSE'

In [274]:
# Every object in python has an attribute which is denoted by '__dict__'. 
# And this object contains all attributes defined FOR the object
c1.__dict__

{'name': 'Java Course', 'ratings': [1, 2, 3, 4, 5]}

In [276]:
Course.__dict__

mappingproxy({'__module__': '__main__',
              'major': 'CSE',
              'numberOfObjects': 2,
              '__init__': <function __main__.Course.__init__(self, name, ratings)>,
              'average': <function __main__.Course.average(self)>,
              'display': <function __main__.Course.display(self)>,
              'SubCourse': __main__.Course.SubCourse,
              '__dict__': <attribute '__dict__' of 'Course' objects>,
              '__weakref__': <attribute '__weakref__' of 'Course' objects>,
              '__doc__': None,
              '__slotnames__': []})

In [278]:
Course.__doc__

In [175]:
Course.numberOfObjects

1

In [176]:
c1.display()

Java Course
[1, 2, 3, 4, 5]

In [177]:
Course.major

'CSE'

In [178]:
sc = c1.SubCourse(123)

In [179]:
sc.start()

SubCourse  method invoked

In [180]:
# getter and setter for claases
class Programmer:
    
    def __init__(self,name):
        self.name=name     
    
    def setName(self,name):
        self.name=name
        
    def getName(self):
        return self.name
    
    
p1 = Programmer("JMJ")

In [181]:
p1.getName()

'JMJ'

In [182]:
# Subclasses
from abc import abstractmethod,ABC
class ParentClass(ABC):
    def __init__(self,make):
        self.make=make
    @abstractmethod
    def start(self):
        pass

In [183]:
class SubClass(ParentClass):
    def __init__(self,make,year):
        super().__init__(make)
        self.year = year
    def start(self):
        print("sub class start method invoked")

In [326]:
SubClass.__bases__
# the '__bases__' property holds the information about the immediate super class of the class
# It is not aware of any other hierarchy. Also, it contains the super classes in a tuple and NOT a list.

(__main__.ParentClass,)

In [185]:
sc = SubClass("TestName",2023)

In [186]:
isinstance(sc,ParentClass)

True

In [187]:
sc.start()

sub class start method invoked

In [188]:
# multiple inheritance
class LandAnimal:
    def walk(self):
        print('walking')

class WaterAnimal:
    def swim(self):
        print('swimming')

class Amphibian(LandAnimal, WaterAnimal):
    pass

In [189]:
frog = Amphibian()

In [190]:
frog.swim()

swimming

In [191]:
frog.walk()

walking

In [192]:
print(frog.__str__())

<__main__.Amphibian object at 0x00000158B5728340>

In [193]:
# enum
from enum import Enum
class Currency(Enum):
    USD = 1
    EUR = 2
    INR = 3

In [194]:
Currency(1)

In [195]:
Currency(2).name

'EUR'

In [329]:
Currency(3).value

3

In [330]:
class A1:
    def __init__(self, a=1):
        self.__var = a

In [331]:
a = A1(5)

In [334]:
a._A1__var

5

In [338]:
a.__var

AttributeError: 'A1' object has no attribute '__var'

In [ ]:
# Although '__var' is a private variable because its name is starting with double underscores 
# and its value CAN'T be accessed by simply calling 'a.__var' BUT it CAN be accessed through this way 'a._A1__var'
# Here A1 is the class name. This is true for all private properties of class objects.

### Exceptions

In [340]:
# TypeError: This exception is raised when an operation or function is performed on an object of an inappropriate type
# It usually occurs when you try to perform an unsupported operation, such as adding a string and an integer,
# or calling a method on an object that doesn't support it.

In [342]:
# below lineRaises a TypeError:
#x = 5 + "2"

In [ ]:
#AttributeError: This exception is raised when you try to access an attribute or method that doesn't exist on an object.

In [348]:
# below line raises an AttributeError: 'list' object has no attribute 'len'
# my_list = [1, 2, 3]
#length = my_list.len()

In [345]:
# ValueError: This exception is raised when a function or operation receives an argument of the correct type but an inappropriate value. I

In [347]:
# below line raises a ValueError: invalid literal for int() with base 10: 'abc'
#int_value = int("abc")

In [284]:
try:
    print("inside the main logic")
    #1/0
except ZeroDivisionError:
    print("ZeroDivisionError")
finally:
    print("inside finally")

inside the main logic
inside finally

In [296]:
class CustomException(Exception):
    def __init__(self,msg):
        self.msg = msg

In [298]:
try:
    raise CustomException("CustomException message1")
except CustomException as e:
    print(e.args)
# above code returns a tuple with teh messages passed

('CustomException message1',)

In [293]:
class CustomException2(Exception):
    pass

In [295]:
try:
    raise CustomException2("A", "B")
except CustomException2 as e:
    print(e.args)
# above code returns a tuple with teh messages passed

('A', 'B')

### Logging

In [200]:
import logging

logging.basicConfig(filename="mylog.log",level=logging.INFO)
logging.critical("Critical")
logging.error("Error")
logging.warning("Warning")
logging.info("Info")
logging.debug("Debug")

### Pickle

In [201]:
import pickle

In [202]:
po = Course("Java Course1",[1,2,3,4,5])

In [203]:
pickle_file = open("course_pickel.dat","wb")

In [204]:
pickle.dump(po,pickle_file)

In [205]:
pickle_file.close()

In [206]:
pickle_file_r = open("course_pickel.dat", "rb")
po_r = pickle.load(pickle_file_r)

In [207]:
po_r.average()

Average Ratings For  Java Course1  Is  3.0

In [208]:
pickle_file_r.close()

### Regular expressions
*     .(dot)       - Any Character Except New Line
*    \d      - Digit (0-9) <br>
*     \D      - Not a Digit (0-9)
*    \w      - Word Character (a-z, A-Z, 0-9, _)
*    \W      - Not a Word Character
*    \s      - Whitespace (space, tab, newline)
*    \S      - Not Whitespace (space, tab, newline)

*    \b      - Word Boundary
*    \B      - Not a Word Boundary
*    ^       - Beginning of a String
*    $       - End of a String

*    []      - Matches Characters in brackets
*    [^ ]    - Matches Characters NOT in brackets
*    |       - Either Or
*    ( )     - Group

    Quantifiers:
*    \*       - 0 or More
*    \+       - 1 or More
*    \?       - 0 or One
*    {3}     - Exact Number
*    {3,4}   - Range of Numbers (Minimum, Maximum)

In [209]:
import re

In [210]:
str3 = "take 1 up 1-3-2019 One 23 idea.test idea 45 at test a Time 06-16-2023"

In [211]:
result = re.search(r't\w\w', str3)

In [212]:
result.group()

'tak'

In [213]:
result = re.findall(r't\w\w', str3)

In [214]:
result

['tak', 'tes', 'tes']

In [215]:
result = re.findall(r'\d\d', str3)

In [216]:
result

['20', '19', '23', '45', '06', '16', '20', '23']

In [217]:
result= re.split(r'test',str3)

In [218]:
result

['take 1 up 1-3-2019 One 23 idea.', ' idea 45 at ', ' a Time 06-16-2023']

In [219]:
# substitute
result = re.sub(r'test','test_new',str3)

In [220]:
result

'take 1 up 1-3-2019 One 23 idea.test_new idea 45 at test_new a Time 06-16-2023'

In [221]:
result = re.findall(r'\d{4}', str3)

In [222]:
result

['2019', '2023']

In [223]:
result = re.findall(r'\d{1,2}-\d{1,2}-\d{4}', str3)

In [224]:
result

['1-3-2019', '06-16-2023']

### Date and Time

In [225]:
import time,datetime

In [226]:
epochseconds = time.time()

In [227]:
epochseconds

1687786509.7605853

In [228]:
t = time.ctime(epochseconds)

In [229]:
t

'Mon Jun 26 09:35:09 2023'

In [230]:
dt = datetime.datetime.today()

In [231]:
print('Current Date: {}/{}/{}'.format(dt.day,dt.month,dt.year))

Current Date: 26/6/2023

In [232]:
print('Current Time: {}:{}:{}'.format(dt.hour,dt.minute,dt.second))

Current Time: 9:35:9

In [233]:
# sleep for 3 seconds
time.sleep(3)

In [234]:
dt.day

26

In [235]:
datetime.time.min

datetime.time(0, 0)

### Threads

In [236]:
from threading import *

In [237]:
print("Current Thread that is running: ",current_thread().getName())

Current Thread that is running:  MainThread

In [238]:
if current_thread() == main_thread():
    print("Main Thread**")
else:
    print("Some other thread")

Main Thread**

In [239]:
def testDisplay():
    print("inside testDisplay")
    print(current_thread().getName())
    return

In [240]:
t = Thread(target=testDisplay)

In [241]:
t.start()

inside testDisplay
Thread-6

In [242]:
# Thread by subclassing
class MyThread(Thread):
    def run(self):
        print("inside MyThread run")
        print(current_thread().getName())
        return

In [243]:
t1 = MyThread()
t1.start()

inside MyThread run
Thread-7

### Networking

In [244]:
import urllib.request
url=urllib.request.urlopen("https://www.python.org/")

In [245]:
content = url.read()
url.close()

In [246]:
file1=open('web_html_sample.html',"wb")
file1.write(content)
file1.close()

### Modules

In [308]:
import module_1 as m1
#In Python 'from' always comes before 'import'

In [309]:
print(m1.name1)

name1text

In [310]:
m1.method_1()

method 1 inside module 1

In [311]:
m1.ClassA().class_method_1()

ClassA.class_method_1 from  ClassA.method 1 inside module 1

In [312]:
dir(m1)

['ClassA',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'method_1',
 'name1']

In [314]:
m1.ClassA.__module__

'module_1'

In [315]:
# The '__module__' property holds the name of the module, the function/class was defined in
# When a file is run on its own in python, the module is set to '__main__'

### Platform module

In [252]:
import platform

In [253]:
platform.platform()

'Windows-10-10.0.22621-SP0'

In [254]:
platform.machine()

'AMD64'

In [255]:
platform.system()

'Windows'

In [327]:
platform.python_implementation()

'CPython'

In [328]:
platform.python_version()

'3.8.3'

In [383]:
platform.python_version_tuple()

('3', '8', '3')

### Temp code